@import "tailwindcss";

/* Ajustes globales PWA */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f8fafc; /* Gris claro de fondo */
  color: #334155; /* Texto principal */
  -webkit-tap-highlight-color: transparent; /* Quitar highlight azul en móviles */
}
